<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Raspisanie.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Raspisanie.Properties.Settings>
            <setting name="Zametki" serializeAs="String">
                <value />
            </setting>
            <setting name="lesson1" serializeAs="String">
                <value />
            </setting>
            <setting name="lesson2" serializeAs="String">
                <value />
            </setting>
            <setting name="lesson3" serializeAs="String">
                <value />
            </setting>
            <setting name="lesson4" serializeAs="String">
                <value />
            </setting>
            <setting name="lesson5" serializeAs="String">
                <value />
            </setting>
            <setting name="lesson6" serializeAs="String">
                <value />
            </setting>
            <setting name="lesson7" serializeAs="String">
                <value />
            </setting>
            <setting name="lesson8" serializeAs="String">
                <value />
            </setting>
            <setting name="lesson1_2" serializeAs="String">
                <value />
            </setting>
            <setting name="lesson2_2" serializeAs="String">
                <value />
            </setting>
            <setting name="lesson3_2" serializeAs="String">
                <value />
            </setting>
            <setting name="lesson4_2" serializeAs="String">
                <value />
            </setting>
            <setting name="lesson5_2" serializeAs="String">
                <value />
            </setting>
            <setting name="lesson6_2" serializeAs="String">
                <value />
            </setting>
            <setting name="lesson7_2" serializeAs="String">
                <value />
            </setting>
            <setting name="lesson8_2" serializeAs="String">
                <value />
            </setting>
            <setting name="lesson1_3" serializeAs="String">
                <value />
            </setting>
            <setting name="lesson2_3" serializeAs="String">
                <value />
            </setting>
            <setting name="lesson3_3" serializeAs="String">
                <value />
            </setting>
            <setting name="lesson4_3" serializeAs="String">
                <value />
            </setting>
            <setting name="lesson5_3" serializeAs="String">
                <value />
            </setting>
            <setting name="lesson6_3" serializeAs="String">
                <value />
            </setting>
            <setting name="lesson7_3" serializeAs="String">
                <value />
            </setting>
            <setting name="lesson8_3" serializeAs="String">
                <value />
            </setting>
            <setting name="lesson1_4" serializeAs="String">
                <value />
            </setting>
            <setting name="lesson2_4" serializeAs="String">
                <value />
            </setting>
            <setting name="lesson3_4" serializeAs="String">
                <value />
            </setting>
            <setting name="lesson4_4" serializeAs="String">
                <value />
            </setting>
            <setting name="lesson5_4" serializeAs="String">
                <value />
            </setting>
            <setting name="lesson6_4" serializeAs="String">
                <value />
            </setting>
            <setting name="lesson7_4" serializeAs="String">
                <value />
            </setting>
            <setting name="lesson8_4" serializeAs="String">
                <value />
            </setting>
            <setting name="lesson1_5" serializeAs="String">
                <value />
            </setting>
            <setting name="lesson2_5" serializeAs="String">
                <value />
            </setting>
            <setting name="lesson3_5" serializeAs="String">
                <value />
            </setting>
            <setting name="lesson4_5" serializeAs="String">
                <value />
            </setting>
            <setting name="lesson5_5" serializeAs="String">
                <value />
            </setting>
            <setting name="lesson6_5" serializeAs="String">
                <value />
            </setting>
            <setting name="lesson7_5" serializeAs="String">
                <value />
            </setting>
            <setting name="lesson8_5" serializeAs="String">
                <value />
            </setting>
        </Raspisanie.Properties.Settings>
    </userSettings>
</configuration>